* {
  margin: 0;
  padding: 0;
}
.Landing-page {
  display: flex;
  flex-direction: column;
  border: 3px solid orange;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.Landing-page-cover {
  border: 2px solid green;
  margin: 2em;
  display: flex;
  padding-bottom: 3em;
  position: relative;
}
