.MovieCardExpended {
  margin: 1em;
  /* width: 100%; */
  height: 90%;
  border: 2px solid red;
  padding: 0;
  margin-bottom: 1em;
}
.MovieCardExpended-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.MovieCardExpended-image {
  position: absolute;
  right: 3em;
  left: 5em;
  padding: 0;
  margin: 0;

  object-fit: fill;
  object-position: center;
  z-index: 100;
}
